<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of displayedBillItemList">
      <ion-checkbox slot="start" [(ngModel)]="item.isSelected" (ionChange)="checkBoxValueChangeHandler()">
      </ion-checkbox>
      <ion-grid style="width: 100%;">
        <ion-row style="width: 100%;">
          <ion-col size="6">
            <ion-label>{{item.itemName}}</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label>${{item.unitPrice}}</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label>* {{item.quantity}}</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label>${{item.totalPrice}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="item.discountList?.length > 0">
          <ion-list>
            <ion-note *ngFor="let discount of item.discountList">
              <ion-label>
                {{discount.name}}
              </ion-label>
            </ion-note>
          </ion-list>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>