#page-wrap {
    --overflow: hidden;
}

ion-grid {
    height: 100%;
}

ion-row {
    height: 100%;
}

#selected-item-container-card {
    height: calc(100% - 40px);
    margin: 0;
}

ion-list {
    min-height: 100%;
}

#menu-item-box {
    height: 100px;
    width: 100px;
    max-width: 100px;
}

#menu-item-box > ion-card {
    width: 100%;
    height: 100%;
    color: black;
    --background: grey;
}

#menu-item-box > ion-card > ion-label {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: grey;
}