<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button class="large-button" color="medium">Select All</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="large-button" color="medium">Clear All</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="large-button" color="medium" (click)="addItem()">Add Item</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="large-button" color="medium">Delete Items</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="large-button" color="medium">Combine</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="large-button" color="medium">Split</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="large-button" color="medium"></ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="large-button" color="medium"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="large-button" color="medium"></ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="large-button" color="medium"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="large-button" color="medium"></ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="large-button" color="medium">Pay</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>