<ion-header>
  <ion-toolbar>
    <ion-title>
      Payment
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="page-wrap">
  <ion-row style="height: 100%">
    <ion-col size="4">
      <ion-item style="width: 100%" *ngFor="let mappedItem of mappedBillItems" class="menu-item-box">
        <ion-grid>
          <ion-row>
            <ion-col size="8">
              <ion-label text-wrap>{{ mappedItem.name }} *{{ mappedItem.quantity }}</ion-label>
            </ion-col>
            <ion-col size="4">
              <ion-label color="medium" style="font-size:0.9em;">
                ${{ (mappedItem.unitPrice * mappedItem.quantity * (1 +mappedItem.pst + mappedItem.gst + mappedItem.lct)).toFixed(2) }}
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="mappedItem.discountList?.length > 0">
            <ion-list>
              <ion-note *ngFor="let discount of mappedItem.discountList">
                <ion-label color="danger">{{ discount.name }}: -${{ discount.type === "amount"?discount.value:discount.value*mappedItem.unitPrice*mappedItem.quantity }}</ion-label>
              </ion-note>
            </ion-list>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item *ngIf="selectedItemPriceBeforeDiscount !== selectedBillItemPrice">
        <ion-grid>
          <ion-row>
            <ion-label color="danger">Bill: -${{ (selectedItemPriceBeforeDiscount - selectedBillItemPrice).toFixed(2) }}</ion-label>
          </ion-row>
          <ion-row>
            <ion-list>
              <ion-note *ngFor="let discount of currentBillDiscountList">
                <ion-label color="medium">{{ discount.name }}</ion-label>
              </ion-note>
            </ion-list>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-col>
    <ion-col size="8">
      <ion-item>
        <ion-label position="floating">Total price: </ion-label>
        <ion-textarea readonly value="${{ selectedBillItemPrice.toFixed(2) }}">
        </ion-textarea>
      </ion-item>
      <ion-row>
        <ion-col size="4">
          <ion-item>
            <ion-label position="floating">Cash pay: </ion-label>
            <ion-textarea [(ngModel)]="cashPay" placeholder="${{ cashPay }}">
            </ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label position="floating">Card pay: </ion-label>
            <ion-textarea [(ngModel)]="cardPay" placeholder="${{ cardPay }}">
            </ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label position="floating">Give change: </ion-label>
            <ion-textarea [(ngModel)]="changeGiven" placeholder="${{ changeGiven }}">
            </ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Tip receive: </ion-label>
            <ion-textarea readonly placeholder="${{ tipReceive.toFixed(2) }}">
            </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button id=confirm (click)="confirmPayment()">Confirm</ion-button>
    </ion-col>
  </ion-row>
</ion-content>